# Git
.git
.gitignore
.gitattributes

# Gradle cache and build output
.gradle
build/

# IDE
.idea
.vscode
*.iws
*.iml
*.ipr
out/

# Kotlin
.kotlin

# Secrets
.env

# Docs
docs/
README.md
HELP.md

# Docker
Dockerfile
.dockerignore
compose.yaml